{% extends "classroom/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ item }}</h1>
<hr>

<div class="row">
{% for ass in assignment %}
<div class="col-md-5 mb-4">


<div class="content-section">
  <div class="align-middle" ><a href="{{ ass.pdf.url }}" class="btn btn-info sm" target="_blank">View assignment</a></div>
  <br>
  
  <p><b>Chapter:</b> {{ ass.item }}</p>
  <p  class="align-middle"><b>Topic:</b> {{ ass.topic }}</p>
  <p  class="align-middle"><b>Description:</b> {{ ass.description }}</p>
  
  <p class="align-middle"> <b>Assignment created:</b> {{ ass.created_date }}</td>
  <br>
  <br>
  <td class="text-right ">
    <a href="{% url 'sol_ass' ass.pk %}" class="btn btn-primary active float-right" > Submit Assignment</a>
  
  <br>
  <br>
</div>
</div>    
{% endfor %}
</div>

<div class="row">
{% for video in videos %}
<div class="col-md-4 mb-4">
<div class="content-section">
<p >Video</p>
<p><b>Chapter:</b> {{ video.item }}</p>
<p  class="align-middle"><b>Topic:</b> {{ video.topic }}</p>

<br>
<a href="{% url 'video' video.pk %}" class="btn btn-primary active float-right">Start Video</a>
<br><br>
</div></div>
{% endfor %}
</div>
<div class="row">
{% for quiz in quizzes %}
<div class="col-md-4 mb-4">
  <div class="content-section">
    <p>Quiz</p>
    <p><b>Chapter:</b> {{ quiz.item }}</p>
    <p  class="align-middle"><b>Topic:</b>  {{quiz.topic }}</p>
<a href="{% url 'take_quiz' quiz.pk %}" class="btn btn-primary active float-right">Start Quiz</a>
<br><br>
  </div></div>
{% endfor %}
</div>
{% endblock content %}