{% extends "classroom/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h4>Chapter  : {{ object.item }}</h4>

<h2>Topic : {{ object.topic }}</h2>

<br>
<video width='800' controls>
<source src='{{ object.videofile.url }}' type='video/mp4'>
Your browser does not support the video tag.
</video>


<br><br>

</p>
  
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>


{% endblock content %}